@font-face {
    font-family: "SP-font";
    src: url("../fonts/penna.otf");
}

#SlideItMoo_outer {
    overflow: hidden;
    width: 940px;
    height: 150px;
    margin: 0 auto;
    background: none;
    display: block;
    position: relative;
    padding: 0;
}

/* create custom forward-backward buttons for this container */
#SlideItMoo_outer .SlideItMoo_forward,
#SlideItMoo_outer .SlideItMoo_back {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 150px;
    bottom: 0px;
    right: 0px;
    background: url(../images/slideitmoo_forward.png) no-repeat center;
}

#SlideItMoo_outer .SlideItMoo_back {
    left: 0px;
    background: url(../images/slideitmoo_back.png) no-repeat center;
}

/* the width is set to show the number of thumbnails that will be visible */
#SlideItMoo_inner {
    position: relative;
    overflow: hidden;
    width: 940px; /* set a display width to make the slider look good in case js is disabled */
    margin: 0px auto 0px;
    padding: 10px 0px 10px;
}

/* the thumbnails container; set a width on it so everything will be fine */
#SlideItMoo_items {
    display: block;
    position: relative;
}

/* single element design */
#SlideItMoo_items div.SlideItMoo_element {
    display: block;
    position: relative;
    float: left;
    margin: 0px 5px 0px;
    font-size: 11px;
    width: 160px;
    height: 120px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
}

#SlideItMoo_items a {
    padding: 0px;
    margin: 3px 0px 3px;
    clear: both;
    display: block;
    background: none;
    padding: 2px;
}

#SlideItMoo_items a img {
    border: none;
}

.thumbImage {
    max-width: 200px;
    max-height: 150px;
    min-height: 140px;
/*    min-width: 200px;*/
}

.fullImage {
    max-width: 100%;
    max-height: 30%;
}

.productDetailsText {
    width: 100%;
    white-space: pre-line;
    /*word-break: break-word;*/
    /*word-break: break-all;*/
}

.titlePrice {
    font-weight: bold;
    font-size: larger;
    margin-left: 30px;
    float: left;
    color: #de6e6e;
}

.sliderImage {
    width: 100%;
    min-height: 120px;
    max-height: 120px;
}

.categoryLink {
    cursor: pointer;
}

.productDetailsTitle {
    font-weight: bold;
    font-size: larger;
    float:left;
}

.productTitle {
    max-width: 80%;
}

.mainContent {
    display: inline-table;
}

.siteLogo {
    width: 120px;
    height: 25%;
    /*margin-top: -2px;*/
}

.divRow {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.divColumn {
    display: table-cell;
    /*background-color: red;*/
}

.siteTitle {
    width: 84%;
    text-align: right;
    font-family: cursive;
    font-size: 18pt;
    color: #4567a5;
    vertical-align: middle;
}

.contactsDiv {
    width: 20%;
    vertical-align: top;
}

.contacts {
    color: #4567a5;
    font-size: 15px;
    margin: 12px 0px 0px;
    text-align: right;
}

.hidden {
    visibility: hidden;
}

.thumbLink {
    cursor: pointer;
}


.paginator-arrow {
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    cursor:pointer;
    width: 30px;
}
.paginator-link:hover {
    opacity: 1;
}
.paginator-link {
    font-size: 18px;
    height: 35px;
    min-width: 35px;
    padding-top: 11px;

    padding-left: 5px;
    padding-right: 5px;
    background-color: #4088cb;
    margin: 3px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    line-height: 0.8;
    font-family: 'PT Sans',sans-serif;
    opacity: 0.3;
}
.paginator-arrow {
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    cursor:pointer;
    width: 30px;
}
.paginator-arrow:hover {
    opacity: 1;
}
.paginator-arrow:nth-of-type(1) {
    left: 0;
}
.paginator-arrow:nth-of-type(2) {
    right: 0;
}

div.wrap {
    width: 600px;
    position: relative;
    height: 50px;
}

.wrap img {
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    cursor:pointer;
    width: 30px;
}
.wrap img:hover {
    opacity: 1;
}


.wrap img:nth-of-type(1) {
    left: 0;
}

.wrap img:nth-of-type(2) {
    right: 0;
}

.paginator {
    /*background: #313b31 url('images/bodybackground.png') repeat-y scroll 50% 0;*/
    /* background: #cfe4cf url('images/slider_background.png') repeat-x scroll 50% 0; */
    /* border: 2px solid #19301C; */
    /*-moz-border-radius: 10px 10px 10px 10px;*/
    /* -webkit-border-radius: 10px 10px 10px 10px; */
    /* border-radius: 10px 10px 10px 10px; */
    /* padding: 10px 0; */
}

.paginator .next {
    display: block;
    height: 25px;
    width: 30px;
    background: url('images/slider_forward.png') no-repeat center;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color:#FFFFFF;
    float:left;
    position:absolute;
    top: 49%;
    left: 92%;
    opacity: 0.4;
}

.paginator .prev {
    display: block;
    height: 25px;
    width: 30px;
    background: url('images/slider_back.png') no-repeat center;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color:#FFFFFF;
    float:left;
    position:absolute;
    top: 49%;
    left: 4%;
    opacity: 0.4;
}

#paginatorNext:hover {
    opacity: 1;
}

#paginatorPrev:hover {
    opacity: 1;
}

.importantBlock {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.shares {
    margin: 0px 55px 10px 0;
    text-align: center;
}

.sharesText {
    margin: 0px 55px 10px 20px;
    padding: 15px 0 15px 0px;
    text-align: center;
    font-size: 1.84615em;
    font-weight: bold;
    line-height: 1.125em;
    border-style: dotted;
    border-color: red;
    color: coral;
}
