*.log
logs
out
images/products
tmp
.history
dist
/.idea
/*.iml
/out
/.idea
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
version.properties
/version.properties
log/**
build.properties
resin-data/**
node_modules
credentials.properties
services/image-service/target
services/image-service/project/target
services/image-service/logs
services/auto-batch-upload-service/target
services/auto-batch-upload-service/project/target
services/auto-batch-upload-service/logs
services/tl-models/target
services/tl-models/project/target
services/tl-models/logs
services/auto-batch-upload-service/.idea
services/auto-batch-upload-service/.idea/*.*
services/auto-batch-upload-service/.idea/**
services/auto-batch-upload-service/.idea/modules/**
services/auto-batch-upload-service/.idea/workspace.xml
app_conf.ini
old